{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block MainContent %}

  <main class="row">
{#    <div class="col-lg-4 col-md-6 col-sm-8 mx-auto bg-white py-3 mb-4">#}
        <div class="row">
            <div class="col-12">
               <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                            {{ client_form.name }}
                             {{ form}}

{#                           <div class="row">#}
{#                                <div class='col-sm-6'>#}
{#                                    <div class="form-group">#}
{#                                        <div class='input-group date' id='datetimepicker1'>#}
{#                                            <input type='text' class="form-control" >#}
{#                                             #}
{#                                            <span class="input-group-addon">#}
{#                                                <span class="glyphicon glyphicon-calendar"></span>#}
{#                                            </span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <script type="text/javascript">#}
{#                                    $(function () {#}
{#                                        $('#datetimepicker1').datetimepicker();#}
{#                                    });#}
{#                                </script>#}
{#                            </div>#}




{#                        <div class="form-row">#}
{#                          <div class="form-group col-md-3 mb-0">#}
{#                            {{ client_form.name|as_crispy_field }}#}
{#                          </div>#}
{#                          <div class="form-group col-md-3 mb-0">#}
{#                            {{ client_form.phone|as_crispy_field }}#}
{#                          </div>#}
{#                          <div class="form-group col-md-3 mb-0">#}
{#                            {{ form.dealTime|as_crispy_field }}#}
{#                          </div>#}
{#                           <div class="form-group col-md-3 mb-0">#}
{#                            {{ form.dealTime|as_crispy_field }}#}
{#                          </div>#}
{#                        </div>#}
{#                        <div class="form-row">#}
{#                          <div class="form-group col-md-3 mb-0">#}
{#                            {{ form.credit_purpose|as_crispy_field }}#}
{#                          </div>#}
{#                          <div class="form-group col-md-3 mb-0">#}
{#                            {{ form.credit_amount|as_crispy_field }}#}
{#                          </div>#}
{#                          <div class="form-group col-md-3 mb-0">#}
{#                            {{ form.collateral|as_crispy_field }}#}
{#                          </div>#}
{#                           <div class="form-group col-md-3 mb-0">#}
{#                            {{ form.credit_history|as_crispy_field }}#}
{#                          </div>#}
{#                        </div>#}
{#                        <div class="form-row">#}
{#                          <div class="form-group col-md-6 mb-0">#}
{#                            {{ form.finan_perfor|as_crispy_field }}#}
{#                          </div>#}
{#                          <div class="form-group col-md-6 mb-0">#}
{#                            {{ client_form.message|as_crispy_field }}#}
{#                          </div>#}
{##}
{#                        </div>#}

                    <button type="submit" class="btn btn-primary">Register</button>
               </form>
            </div>
        </div>
{#    </div>#}

</main>

{% endblock %}
