{% extends 'base.html'%}
{% load static %}
{% block MainContent %}



    {% if clients %}
        <table class="table table-hover table-bordered table-striped mb-0">
            <thead class="bg-success">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Message</th>
                <th scope="col">Date</th>
                <th scope="col">show</th>
            </tr>
            </thead>
            <tbody class="tb-info">
            {% for client in clients %}
                {% if client.password is None%}
                            <tr>
                                <td>{{ client.id }}</td>
                                <td>{{ client.name }}</td>
                                <td>{{ client.phone }}</td>
                                <td>{{ client.message  }}</td>
                                <td>{{ client.created_date  }}</td>
                                <td>
                                    <a href="{%  url 'clients:delete_client' client.id %}"
                                       class="btn btn-danger" role="button">Del</a>
                                    <a href="{%  url 'clients:login_password' client.id %}"
                                       class="btn btn-primary" role="button"> Set Login Password</a>
                                </td>

                            </tr>
            {% endif %}
            {% endfor %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li style="color: red" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}


            </tbody>
        </table>
   {% endif %}

    {% if banks %}
        {% for bank in banks %}
            <div class="row form-group border-bottom border-danger" >
                <div class="col-md-4">
                        <div class="container">
                                <p>Title __________{{ bank.title}}</p>
                                 <p>Inn ___________{{ bank.inn}}</p>
                                 <p>Okpo ___________{{ bank.okpo}}</p>
                                 <p>L_addr__________  {{ bank.L_addr}}</p>
                                 <p>L_addr1_________  {{ bank.L_addr1}}</p>
                                 <p>R_person________  {{ bank.R_person}}</p>
                                 <p>B_contact_______  {{ bank.B_contact}}</p>
                                 <p>S_contact_______  {{ bank.S_contact}}</p>
                                 <p>currentBalance___  {{ bank.currentBalance}}</p>
                          </div>
              </div>
              <div class="col-md-4 ">
                 {% for file in files %}
                    {% if file.feed == bank%}
                        <img src="{{file.documents.url}}" alt="">
                     {% endif %}
                 {% endfor %}

              </div>


         
            </div>

        {% endfor %}
    {% endif %}



    {% if basic_info %}
        <table class="table table-hover table-bordered table-striped mb-0">
            <thead class="bg-success">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contacts</th>
                <th scope="col">show</th>
            </tr>
            </thead>
            <tbody class="tb-info">
            {{ basic_info.id }}
            {% for client in basic_info %}
                            <tr>
                                <td>{{ client.id }}</td>
                                <td>{{ client.applicant_name}}</td>
                                <td>{{ client.contacts }}</td>

                                <td>
                                    <a href="{% url 'clients:view_a_client' client.client.id %}"
                                       class="btn btn-success" role="button">View</a>
                                    {% if client.client.state %}
                                        Accepted
                                    {% else %}
                                    <a href="{% url 'clients:accept_client' client.client.id %}"
                                       class="btn btn-primary" role="button">Accept
                                    </a>
                                     <a href="#"
                                       class="btn btn-danger" role="button">Disapprove
                                    </a>
                                    {% endif %}
                                </td>

                            </tr>

            {% endfor %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li style="color: red" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}


            </tbody>
        </table>
   {% endif %}
{#     {% if shared_client_list %}#}
{#        <table class="table table-hover table-bordered table-striped mb-0">#}
{#            <thead class="bg-success">#}
{#            <tr>#}
{#                <th scope="col">ID</th>#}
{#                <th scope="col">Start Date</th>#}
{#                <th scope="col">Expire Date</th>#}
{#                <th scope="col">Start Rate</th>#}
{#                <th scope="col">Customer Rate</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody class="tb-info">#}
{#            {% for client in shared_client_list %}#}
{#                            <tr>#}
{#                                <td>{{ client.id }}</td>#}
{#                                <td>{{ client.start_date }}</td>#}
{#                                <td>{{ client.expire_date }}</td>#}
{#                                <td>{{ client.start_rate  }} %</td>#}
{#                                <td>{{ client.customer_rate  }} %</td>#}
{##}
{#                            </tr>#}
{#            {% endfor %}#}
{##}
{#            {% if messages %}#}
{#                <ul class="messages">#}
{#                    {% for message in messages %}#}
{#                    <li style="color: red" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{##}
{##}
{#            </tbody>#}
{#        </table>#}
{#   {% endif %}#}

{% endblock %}

