{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block MainContent %}

            <div class="container form-group" style="padding-left: 200px;padding-right: 200px;">
               <table class="table table-hover table-bordered table-striped mb-0">
                        <thead class="bg-primary">
                        <tr>
                            <th scope="col">Start Date</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col">Client Rate</th>
                            <th scope="col">Start Rate</th>
                        </tr>
                        </thead>
                        <tbody class="tb-info">
                        <tr>
                            <td >
                                {{ accept_client.start_date }}
                            </td>
                            <td>
                                {{ accept_client.expire_date }}
                            </td>
                            <td id="client_rate">
                                {{ client_rate }}
                            </td>
                            <td id="start_rate">
                                {{ start_rate }}
                            </td>
                        </tr>
                        </tbody>
               </table>
            </div>
            <div class="container form-group" style="padding-left: 200px;padding-right: 200px;">
               </table>
                     <table class="table table-hover table-bordered table-striped">
                        <thead class="bg-success">
                        <tr>
                            <th scope="col">Rate Date</th>
                            <th scope="col">Bank</th>
                            <th scope="col">Rate</th>
                            <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody class="tb-info">
                            {% for foo in subscriber %}
                                <tr>
                                    <td>
                                        {{ foo.accept_client.start_date }}
                                    </td>
                                    <td>
                                        {{ foo.bank }}
                                    </td>
                                    <td>
                                       {{foo.rate}}
                                    </td>
                                <tr>
                            {% endfor %}

                        </tbody>
               </table>
                <form method="POST">
                    {% csrf_token %}
                        {{ form }}
                         <select name="selected_rate">
                             <script language="javascript" type="text/javascript">
                                function selectedItem(min,max) {
                                     for(let d=min;d<=max+0.1;d=d+0.1) {
                                    document.write("<option>"+d.toFixed(2)+"</option>");
                                     }
                                }
                                let clientRate=parseFloat(document.getElementById("client_rate").innerText);
                                let startRate=parseFloat(document.getElementById("start_rate").innerText);
                                selectedItem(clientRate,startRate);
                                </script>
                        </select>
                    <button type="submit" class="btn btn-success">Accept</button>
                </form>
    </div>
{% endblock %}
